h1#logo= title

#clouds

#left
  #one.tab
    a(href="#") Tom-Tom
  #two.tab
    a(href="javascript:play_multi_sound('multiaudio2');") Tom-Tom2
  #three.tab
    a(href="javascript:play_multi_sound('multiaudio3');") Whistle
    
#right
  #four.tab
  #five.tab
  #six.tab

#log
  input(type='text')
  ul#messages
  
#audio
  audio(id="multiaudio1", src="audio/tom-toms_1.mp3", preload="auto")
  audio(id="multiaudio2", src="audio/tom-toms_2.mp3", preload="auto")
  audio(id="multiaudio3", src="audio/154_swanee-whistle_999_6_9_48.mp3", preload="auto")
  
