h1#logo
  image(src:"/images/clouldo.png")

#clouds

#earth
  
#picker
  select
    option(value="volvo") Volvo
    option(value="volvo") Volvo
    option(value="volvo") Volvo
#pickhint

#keyLeft
  .press
    img(src="images/key1.png")
  .press
    img(src="images/key2.png")
  .press
    img(src="images/key3.png")
  
#keyRight
  .press
    img(src="images/key4.png")
  .press
    img(src="images/key5.png")
  .press
    img(src="images/key6.png")
#log
  input(type='text')
  ul#messages
  
#audio
  audio(id="multiaudio1", src="audio/tom-toms_1.mp3", preload="auto")
  audio(id="multiaudio2", src="audio/tom-toms_2.mp3", preload="auto")
  audio(id="multiaudio3", src="audio/154_swanee-whistle_999_6_9_48.mp3", preload="auto")
  
