h1#logo
  image(src:"/images/clouldo.png")

#clouds


  
#picker
  select
    option(value="violin") Violin
    option(value="bass") Bass
    option(value="flute") Flute
    option(value="clarinet") Clarinet
    option(value="trumpet") Trumpet
    option(value="percussion") Percussion

#pickhint

#about
  h2 Your Browser is Your Instrument

  
  h3
    a(href="#", id="close-about") Close
#credits
  h2 Cloud Orchestra 
  h3 was created by 
    a(href = "http://fchasen.com") Fred Chasen
    span &nbsp;for   
    a(href = "http://contest.beautyoftheweb.com/") Dev: Unplugged
  
  h3 A Big Thanks To
  p
    a(href = "http://raphaeljs.com/") Raphaël—JavaScript Library
    a(href = "http://www.philharmonia.co.uk/thesoundexchange/") Philharmonia Sound Exchange
    a(href = "https://www.duostack.com/") Duostack Node.js Hosting
    a(href = "http://socket.io/") Socket.IO and Node.js
    
  h3
    a(href="#", id="close-credit") Close
    
#sm-credit
  span Created by 
  a(href = "http://fchasen.com") Fred Chasen
  span &nbsp;for   
  a(href = "http://contest.beautyoftheweb.com/") Dev: Unplugged

#links
  a(href="#", id="about-a") About
  &nbsp;&nbsp;|&nbsp;
  a(href="#", id="credit-a") Credits
  &nbsp;
#keyLeft
  #key-one.press
    a(href="#") 
      img(src="images/key1.png")
  #key-two.press
    a(href="#")
      img(src="images/key2.png")
  #key-three.press
    a(href="#")
      img(src="images/key3.png")
  
#keyRight
  #key-four.press
    a(href="") 
      img(src="images/key4.png")
  #key-five.press
    a(href="#")
      img(src="images/key5.png")
  #key-six.press
    a(href="#")
      img(src="images/key6.png")
#log(style="display:none")
  //input(type='text')
  ul#messages
  
#audio
