!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/raphael.js")
    script(src="/javascripts/raphael.blur.js")
    script(src="/javascripts/infocloud.js")
    
    script(src="/javascripts/cloud.js")
    script(src="/javascripts/main.js")
    

      
  body!= body