body {
  background: #8D97A0;
  background-image: -webkit-gradient(
     linear,
     55 bottom,
     left top,
     color-stop(0.16, rgb(109,160,176)),
     color-stop(0.86, #a3b9c7)
  );
  background-image: -moz-linear-gradient(
     55 bottom,
     rgb(184,208,224) 16%,
     rgb(109,160,176) 86%
  );
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {

}

#logo {
  position: absolute;
  left: 5px;
  bottom: -35px;
}

#earth {
  position: absolute;
  left: 300px;
  top: 200px;
  background: url("../images/earth.png");
  width: 610px;
  height: 610px;
  z-index: -1;
}

#picker {
  position: absolute;
  left: 10px;
  top: 10px;
  
}

#pickhint {
  position: absolute;
  left: 15px;
  top: 50px;
  background: url("../images/pick.png");
  width: 175px;
   height: 200px;
   opacity: .7;
}

#pickhint:hover {
   opacity: 1;
}

#picker select {
  font-size: 24px;
}

#keyLeft {
  position: absolute;
  left: 10px;
  top: 355px;
  width: 80px;
  opacity: .5;

}

#keyLeft:hover, #keyRight:hover{
  opacity: 1;
}

#keyRight {
  position: absolute;
  right: 5px;
  top: 355px;
  width: 80px;
  opacity: .5;
  
}


.press {
  height: 70px;
  overflow: hidden;
  margin-bottom: 5px;
  
}

.press:hover img {
  margin-top: -70px;
}

.tab {
  width: 100px;
  background: #ccc;
  height: 60px;
  position: absolute;
}

.tab a {
  width: 100px;
  background: #ccc;
  height: 60px;
  display: block;
}

#one {
  top: 200px;
  left: 0;
}

#two {
  top: 300px;
  left: 0;
}

#three {
  top: 400px;
  left: 0;
}

#four {
  top: 200px;
  right: 0;
}

#five {
  top: 300px;
  right: 0;
}

#six {
  top: 400px;
  right: 0;
}